@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@font-face {
  font-family: "macherie";
  font-display: fallback;
  src: url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
}
@font-face {
  font-family: "Doky";
  font-display: fallback;
  src: url(DokyRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Bungee Inline", cursive;
  src: url("https://fonts.googleapis.com/css?family=Bungee+Inline");
}
